<a href="https://colab.research.google.com/github/Jeesyuen/data-science-toolkit/blob/main/Python_Script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.12.12

Basic data types

In [2]:
x=3
print(x, type(x))

3 <class 'int'>

In [3]:
print(x+1) #addition
print(x-1)
print(x*2)
print(x**2)

4
2
6
9

In [5]:
y=3.5
print(y,type(y))
print(y,y+1,y*2,y**2)

3.5 <class 'float'>
3.5 4.5 7.0 12.25

In [6]:
#boolean
t=True
f=False
#t,f= True, False
print(type(t))

<class 'bool'>

In [8]:
#String
var1="Hello"
var2="Class"

print(var1,len(var1))

Hello 5

In [10]:
new_var= var1+ " " + var2
print(new_var)

Hello Class

In [13]:
another_var= "{} {} {}". format(var1, var2, 12)
print(another_var)

Hello Class 12

In [24]:
var3="hello"
print(var3.capitalize())
print(var3.upper())
print(var3.replace("h","z"))
print("Data".strip())

Hello
HELLO
zello
Data

Containers

List, Dictionaries, Set, Tuples

###List

In [28]:
list1=[3,12,11,14,9]
print(list1, list1[2])

[3, 12, 11, 14, 9] 11

In [31]:
print(list1[-1])
print(list1[4]) #Writing at index 2 or fetching data from index 2
print(list1)

9
9
[3, 12, 11, 14, 9]

In [33]:
list1[3]="data" # replacing the value present at index 3
print(list1)

[3, 12, 11, 'data', 9]

In [34]:
list1.append("Science")
print(list1)
#the size of list is flexible (expand the list by adding one number at the back)

[3, 12, 11, 'data', 9, 'Science']

In [40]:
list1.pop(2) #deletes the last element
print(list1)
#continue running this code will delete the number starting from science, 9, data.... until second index

IndexError: pop index out of range

In [41]:
numbers=list(range(6))
print(numbers)

[0, 1, 2, 3, 4, 5]

In [56]:
#slicing
list2=[11,2,5,18,3,20] # Changed from tuple to list
print(list2[2:4]) #value at index 2 and 3 will be printed only
print(list2[2:5]) #value at index 2 to 5 will be printed
print(list2[2:]) #if we din key in anything after: means we will print everything after index 2
print(list2[:4]) # print everything before index 4
print(list2[:]) # print all
print(list2[:-1]) #print everything before last index
list2[2:4]= [50,100]
print(list2) # replace index 2 and 3 by 50 and 100

[5, 18]
[5, 18, 3]
[5, 18, 3, 20]
[11, 2, 5, 18]
[11, 2, 5, 18, 3, 20]
[11, 2, 5, 18, 3]
[11, 2, 50, 100, 3, 20]

Dictionary

In [57]:
d={"cat":"cute","dog":"furry"} #key-value, key can be any type
print(d["cat"])
print("cat" in d)

cute
True

In [58]:
d["dog"]="not furry"
print(d)

{'cat': 'cute', 'dog': 'not furry'}